* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-size: 10px;
    font-family: 'Oswald', sans-serif;

}

body {


    width: 100vw;
    background-color: #ffffff;

}

.container__video {

    width: 100vw;
    height: auto;
    position: relative;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);

}

.video__tittle {

    margin: auto;
    text-align: center;

}

h1 {

    font-size: 10rem;
    text-align: center;
    color: #855B70;
    margin: auto;
    line-height: 50rem;

}

.video__tittle {

    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video__arrow {

    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 60rem;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video_arrow > a {

    text-decoration: none;

}

.fas,
.fa-angle-double-down {

    font-size: 7rem;
    color: #855B70;
}

.fas:hover,
.fa-angle-double-down:hover {

    color: #9A8A91;
}

#section1 {

    width: 100vw;
    height: 70vh;
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    flex-direction: row;
}

.header__photo {

    height: 70vh;
    width: auto;
    display: flex;
    order: 2;
}

.header__photo > img {

    height: 70vh;
    width: auto;
}

.header__tittle {

    display: flex;
    order: 3;
    flex-wrap: wrap;
    width: 35vw;
    align-items: flex-end;
}

.header__tittle > h2 {

    font-size: 4rem;
    letter-spacing: 1rem;
    color: #DD7F7C;
    margin-bottom: -23rem;
}

.header__tittle > h3 {

    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: #855B70;
    margin-bottom: 18rem;
}


.header__social--media {

    display: flex;
    order: 1;
    width: 23vh;
    align-items: flex-end;
    flex-wrap: wrap;
}

.header__social--tittle {

    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
    color: #DD7F7C;
    margin-left: 6rem;
    margin-bottom: -24rem;
}

.header__social--icons {

    display: flex;
    margin-left: 8rem;
    margin-bottom: 12rem;
}

.fab,
.fa-githu {

    font-size: 3rem;
    color: #855B70;
    padding: 1rem;
}

.fab:hover,
.fa-githu:hover {

    font-size: 3rem;
    color: #DD7F7C;
}

.fab,
.fa-linkedin {

    font-size: 3rem;
    color: #855B70;
}

.fab:hover,
.fa-linkedin:hover {

    font-size: 3rem;
    color: #DD7F7C;
}

.separator {
    
    display: block;
    background-color: #6C8286;
    height: 0.2rem;
    width: 80vw;
    margin: 1rem auto;
}

.about__me, .about__me>img, .about__me>p {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__me--section>h2 {
    
    font-size: 4rem;
    letter-spacing: 1rem;
    text-align: center;
    margin: 2rem auto;
    color: #DD7F7C;
}

.about__me>p {
    
    color: #6C8286;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    width: 40vw;
    height: auto;
    text-align: justify;
}

.about__me>img {
    
    width: 35vw;
    height: auto;
    box-shadow: 1px 1px 12px #000;
}


