* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-size: 10px;
    font-family: 'Oswald', sans-serif;

}

body {


    width: 100vw;
    background-color: #ffffff;

}

.container__video {

    width: 100vw;
    height: auto;
    position: relative;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);

}

.video__tittle {

    margin: auto;
    text-align: center;

}

h1 {

    font-size: 10rem;
    text-align: center;
    color: #855B70;
    margin: auto;
    line-height: 50rem;

}

.video__tittle {

    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video__arrow {

    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 60rem;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video_arrow > a {

    text-decoration: none;

}

.fas,
.fa-angle-double-down {

    font-size: 7rem;
    color: #855B70;
}

.fas:hover,
.fa-angle-double-down:hover {

    color: #9A8A91;
}

#section1 {

    width: 100vw;
    height: 70vh;
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    flex-direction: row;
}

.header__photo {

    height: 70vh;
    width: auto;
    display: flex;
    order: 2;
}

.header__photo > img {

    height: 70vh;
    width: auto;
}

.header__tittle {

    display: flex;
    order: 3;
    flex-wrap: wrap;
    width: 35vw;
    align-items: flex-end;
}

.header__tittle > h2 {

    font-size: 4rem;
    letter-spacing: 1rem;
    color: #DD7F7C;
    margin-bottom: -23rem;
}

.header__tittle > h3 {

    font-size: 2rem;
    letter-spacing: 0.5rem;
    color: #855B70;
    margin-bottom: 18rem;
}


.header__social--media {

    display: flex;
    order: 1;
    width: 23vh;
    align-items: flex-end;
    flex-wrap: wrap;
}

.header__social--tittle {

    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
    color: #DD7F7C;
    margin-left: 6rem;
    margin-bottom: -24rem;
}

.header__social--icons {

    display: flex;
    margin-left: 8rem;
    margin-bottom: 12rem;
}

.fab,
.fa-githu {

    font-size: 3rem;
    color: #855B70;
    padding: 1rem;
}

.fab:hover,
.fa-githu:hover {

    font-size: 3rem;
    color: #DD7F7C;
}

.fab,
.fa-linkedin {

    font-size: 3rem;
    color: #855B70;
}

.fab:hover,
.fa-linkedin:hover {

    font-size: 3rem;
    color: #DD7F7C;
}

span.separator {

    display: block;
    background-color: #6C8286;
    height: 0.2rem;
    width: 80vw;
    margin: 1rem auto;
}

div.separator__container {

    display: block;
    width: 100vw;
    height: auto;
}

.about__me,
.about__me > img,
.about__me > p {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
}

.about__me--section > h2 {

    font-size: 4rem;
    letter-spacing: 1rem;
    text-align: center;
    margin: 2rem auto;
    color: #DD7F7C;
}

.about__me > p {

    color: #6C8286;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    width: 40vw;
    height: auto;
    text-align: justify;
}

.about__me > img {

    width: 30vw;
    height: auto;
    box-shadow: 1px 1px 12px #000;
    transform: rotate(-5deg);
    margin-bottom: 4rem;
}

.my__skills--section > h2 {

    font-size: 4rem;
    letter-spacing: 1rem;
    text-align: center;
    margin: 2rem auto;
    color: #DD7F7C;
    width: 100vw;
}

.future__skills--section > h2 {

    font-size: 4rem;
    letter-spacing: 1rem;
    text-align: center;
    margin: 2rem auto;
    color: #DD7F7C;
    width: 100vw;
}

.portfolio__section > h2 {

    font-size: 4rem;
    letter-spacing: 1rem;
    text-align: center;
    margin: 2rem auto;
    color: #DD7F7C;
    width: 100vw;

}

.contact__section > h2 {

    font-size: 4rem;
    letter-spacing: 1rem;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    color: #FFDFD0;
    width: 100vw;

}

.my__skills--section {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;

}

.my__skills {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    height: auto;
}

.future__skills {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    height: auto;

}

div.my__skills > span {

    width: 30%;
    height: auto;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bold;
    color: #6C8286;
}

div.my__skills > .fab {

    width: 30%;
    height: auto;
    text-align: center;
    font-size: 6rem;
}


.future__skills--section {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;

}


div.future__skills > span {

    width: 30%;
    height: auto;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: bold;
    color: #6C8286;
}

div.future__skills > .fab {

    width: 30%;
    height: auto;
    text-align: center;
    font-size: 6rem;
}

.parallax {

    background-image: url("img/footer.jpg");
    height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -2.2rem;
}

div.contact > .fas {

    width: 30%;
    height: auto;
    text-align: center;
    font-size: 6rem;
    color: #FFDFD0;
}

div.contact > .far {

    width: 30%;
    height: auto;
    text-align: center;
    font-size: 6rem;
    color: #FFDFD0;
}

.contact__section {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    box-shadow:  2px 2px 12px #000;
}

.contact {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    
}

.contact>i {
    
    width: 30%;
    height: auto;
}

.copyright {
    
    display: flex;
    width: 100vw;
    height: auto;
}

.copyright>span {
    
    color: #FFDFD0;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 0 auto 0 1rem;
   
}

.contact>span {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    color: #FFDFD0;
    
}

.contact>span>a {
    
    color: #FFDFD0;
    text-decoration: none;
}

.contact>span>a:hover {
    
    color: #DD7F7C;
}

.contact+.separator__container>.separator {
    
    background-color: #DD7F7C;
}