html {

    font-size: 10px;
    font-family: 'Oswald', sans-serif;

}

body {

    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #6C8286;

}

.container__video {

    width: 100vw;
    height: auto;
}

.video__tittle {

    margin: auto;
    text-align: center;
}


.video__text {
    font-size: 10rem;
    text-align: center;
    margin: auto;
    line-height: 50rem;

}
